<%- include('./partials/head') %>

  <header><img class="logo" src="./logo+background.png" alt="squad B logo"></header>
  
  <main>
    <section>
      <img class="shoe" src="./orange shoe with shadow.png" alt="ornage jordan high top sneaker">
    </section>

    <!-- members -->
    <% squad.members.forEach(member=> { %>
      <section class="members-in-squad">
      <article>
        <% if (member.avatar) { %>
          <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
          <% }else{ %>
            <img src="/placeholder.jfif" alt="Placeholder avatar" />
            <% } %>
              <p>
                <%= member.name %>
                  <%= member.prefix %>
                    <%= member.surname %>
              </p>
      </article>
      </section>
      <% }) %>
  
    <div class="button-container">
      <span>squad members</span>
      <button>randomize <i class="fa-solid fa-shuffle"></i></button>
    </div>
  
  
  </main>


<%- include('./partials/foot') %>
