<%- include('./partials/head') %>

  <header>
    <img class="logo" src="/<%=squad.slug%>.png" alt="squad B logo">
</header>

  
  
  <main>

    <nav>
      <ul>
        <li><a href="/?squad=squad-a-2022">Squad A</a></li>
        <li><a href="/?squad=squad-b-2022">Squad B</a></li>
        <li><a href="/?squad=squat-c-2022">Squad C</a></li>
        <!-- <li><a href="/?squad=<%= squad.slug %>&orderBy=name">Sorteer op naam</a></li> -->
    
    </nav>

    <section class="marquee">
      <p>
        <span>
          <strong>new 2023 collection</strong> — FDND edition — <strong>frontenders</strong> — ON SALE —
        </span>
        <span aria-hidden>
          <span>
            <strong>new 2023 collection</strong> — FDND edition — <strong>frontenders</strong> — ON SALE —
          </span>
          <span aria-hidden>
            <span>
              <strong>new 2023 collection</strong> — FDND edition — <strong>frontenders</strong> — ON SALE —
            </span>
            <span aria-hidden>
              <span>
                <strong>new 2023 collection</strong> — FDND edition — <strong>frontenders</strong> — ON SALE —
              </span>
      
      </p>
    </section>

    <!-- <section class="banner">
      <h1 class="collection-year">
        NEW 2023 COLLECTION
      </h1>
    </section> -->




    <section class="shoe-box">
      <img class="shoe" src="./orange shoe with shadow.png" alt="orange jordan high top sneaker">
      <img class="shoe-2" src="./orange shoe with shadow.png" alt="orange jordan high top sneaker">
      <img class="shoe-3" src="./orange shoe with shadow.png" alt="orange jordan high top sneaker">
    </section>

    <!-- members -->
    <section class="card-container">
      <% squad.members.forEach(member=> { %>
        <div class="member-card">
          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
          <% } else { %>
            <img src="/placeholder.jfif" alt="Placeholder avatar" />
          <% } %>
          <p>
            <%= member.name %>
            <%= member.prefix %>
            <%= member.surname %>
          </p>
          <p class="icon-container">
          <a class="member-icon" href="<%=member.website%>"><i class="fa-brands fa-github"></i></a>
          <a class="member-icon" href="https://twitter.com/youssra_exe"><i class="fa-brands fa-twitter"></i></a>
          <a class="member-icon" href="/?squad=squat-c-2022"><i class="fa-solid fa-comment"></i></a>
          </p>
        </div>
       <% }) %>
      </section>

    <section class="container-form">
      <img class="quote-img" src="./dark-mode-quote.png">
      <img class="quote-shoe" src="./quote-shoe.png">
      <div class="form"></div>
    </section>
  
    <section class="button-container">
      <button>randomize <i class="fa-solid fa-shuffle"></i></button>
      <button>favorite <i class="fa-solid fa-heart"></i></button>
      <button>suprise <i class="fa-solid fa-bomb fa-shake"></i></button>
    </section>
  
  
  </main>


<%- include('./partials/foot') %>
